**/.DS_Store
**/.rwy
**/TopSkyCPDLChoppieCode.txt
*.rwy
FLFI Lusaka/FLFI/Plugins/TopSky/TopSkyCPDLChoppieCode.txt
FQBE Beira/FQBE/Plugins/TopSky/TopSkyCPDLChoppieCode.txt
GVSC Sal/GVSC/Plugins/TopSky/TopSkyCPDLChoppieCode.txt
